127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
# Cloud Server Hostname mapping
{{ hostvars['master-node']['ansible_default_ipv4']['address'] }}   master-node
{{ hostvars['worker-node1']['ansible_default_ipv4']['address'] }}   worker-node1
{{ hostvars['worker-node2']['ansible_default_ipv4']['address'] }}   worker-node2
